#gameFrame{

    background-color:#ff99ff;
    height: 600px;
    width: 800px;
    margin: auto;
    position: relative;

}

.enemy{

    width: 150px;
    height: 200px;
    position: absolute;
    background-color: cyan;
    bottom: -400px;
    transition: all .5s;
}

#enemy1{left: 5px;}
#enemy2{left: 165px;}
#enemy3{left: 325px;}
#enemy4{left: 485px;}
#enemy5{left: 645px;}

.enemy.dead {

    background-color: darkred;
    height: 50px;

}

.enemy.showing{

    bottom: 0px;

}

.enemy.shooting{

    background-color: green;
}